# Google Cloud Vision API configuration
# Rename this file to .env to configure local environment settings

# Google Vision OCR Endpoint (default)
VITE_GOOGLE_VISION_ENDPOINT=https://vision.googleapis.com/v1/images:annotate

# Your Google Cloud Project API Key
VITE_GOOGLE_VISION_API_KEY=


# Microsoft Azure Cognitive Services (OCR) Endpoint
VITE_AZURE_VISION_ENDPOINT=https://eastus.api.cognitive.microsoft.com/

# Microsoft Azure Subscription Key (OCR)
VITE_AZURE_VISION_API_KEY=

# Microsoft Azure TTS Endpoint
VITE_AZURE_TTS_ENDPOINT=https://southeastasia.tts.speech.microsoft.com/cognitiveservices/v1

# Microsoft Azure TTS Subscription Key
VITE_AZURE_TTS_API_KEY=
